#contents {
  height: 100%;
  width: 100%;
  padding-left: 0;
  transition: all .15s ease-in-out;

  @include media-breakpoint-up(sm) {
    padding-left: $sidebar-width-sm;
  }

  @include media-breakpoint-up(md) {
    padding-left: $sidebar-width;
  }
}

#inner-contents {
  padding: ($spacer-y * 1.5);
}

#page-heading {
  border-bottom: $content-border-base;
  padding-bottom: $spacer-y;
  margin-bottom: $spacer-y;
  font-size: 2rem;
}
