# Ignore OS Related/Generic
Thumbs.db
Desktop.ini
.DS_Store
.directory
*.old
*.log
*.cache
*.lock

# IDE Specifics
*.sublime-*
.idea/

# Dependencies Folder
node_modules/
bower_components/
dist/

# but leave there Application Specifics
!.gitkeep
