$font-family-sans-serif:     "Source Sans Pro", Arial, sans-serif;
$font-family-serif:          "Source Serif Pro", Times, serif;
$font-family-monospace:      "Source Code Pro", Consolas, "Courier New", monospace;
$font-family-base:           $font-family-sans-serif !default;
