$font-family-sans-serif:     "Source Sans Pro", sans-serif;
$font-family-serif:          "Source Serif Pro", serif;
$font-family-monospace:      "Source Code Pro", Consolas, monospace;
$font-family-base:           $font-family-sans-serif !default;

$navbar-height: 54px;
$navbar-inner-height: (1.5rem + (.425rem * 2));

$content-border-color: #e5e5e5;
$content-border-base: $border-width solid $content-border-color;

$sidebar-width: 230px;
$sidebar-bg: #f5f5f5;

$footer-height: 30px;
