$font-family-sans-serif:     "Montserrat", sans-serif;
$font-family-serif:          "Source Serif Pro", serif;
$font-family-monospace:      "Source Code Pro", Consolas, monospace;
$font-family-base:           $font-family-sans-serif !default;

$font-size-root: 14px;
$border-width:   .1250rem;

$border-radius:          .25rem;
$border-radius-lg:       .3rem;
$border-radius-sm:       .2rem;

$content-border-color:   #e5e5e5;
$content-border-base:    $border-width solid $content-border-color;
$content-bg:             #f5f5f5;
$content-bg-darker:      darken($content-bg, 4%);

$breadcrumb-bg:   $content-bg;

$navbar-height: 48px;
$navbar-inner-height: (1.5rem + (.425rem * 2));

$card-spacer-x:            1.25rem;
$card-spacer-y:            .5rem;
$card-border-width:        $border-width;
$card-border-radius:       $border-radius;
$card-border-color:        $content-border-color;
$card-border-radius-inner: ($card-border-radius - $card-border-width);
$card-cap-bg:              $content-bg;

$sidebar-width:   230px;
$sidebar-bg:      $content-bg;

$footer-height: 30px;
